*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
 background: #FBB034;
}
.first-nav{
    display: none;
}
@media(max-width:768px){
    .navbar-nav{
        display: none;
    }
    .first-nav{
        display: block;
    }
}